html,body {
  margin: 0;
}
#root {
  text-align: center;
}
.containerPokemon {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgb(27, 30, 39);
  
}
.boxPokemon {
  display: flex;
  width: 500px;
  outline: 1px solid black;
  background-color: rgb(144, 125, 163);
  justify-content: center;
}
.boxPokemon:hover {
  background-color: blueviolet;
  transition: 0.5s;
}
.imagePokemon {
  display: flex;
  align-items: center;
  height: 100px;
}
.namePokemon {
  /* background-color: antiquewhite; */
  width: 250px;
  display: flex;
  font-size: larger;
  align-items: center;
  justify-content: center;
}
.expPokemon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100px;
  /* background-color: aqua; */
}